extends layout

block content
  main.container(role='main')
    .jumbotron
      h1 Custom Templates Gallery
      p.lead
        | This is an open-source, community-driven gallery for custom templates in&nbsp;
        a(href="https://tagmanager.google.com" target="_blank") Google Tag Manager
        | .
      a.btn.btn-lg.btn-primary(href='#' role='button') More Details &raquo;
    .container
    .row
      each template, index in templates
        .col-lg-4.col-md-6.mb-4
          .card.h-100(data-eec-action="impression")&attributes({'data-product-id': template.id,'data-product-name': template.name,'data-product-category': template.category, 'data-product-variant': template.type.toLowerCase(), 'data-product-position': index, 'data-product-tracked': "false", 'data-product-list-name': "home page" })
            .card-body
              img.rounded.float-right(src=''+template.logo, alt='', width="60px")
              h4.card-title
                a(href='template/'+template.id+'/'+template.slug+'')= template.name
              span.autor Author:&nbsp;
              a(href='#')= template.author
              br
              small Added: #{template.parsed_added_date}
              p.card-text
                | #{template.description}
            .card-footer
              small.text-muted &starf; &starf; &starf; &starf; &star; ( #{template.views} views, #{template.downloads} Downloads )
              span.float-right.badge.badge-info= template.type.slice(0, 3).toUpperCase()


