extends layout

block content
  main.container(role='main')
    .jumbotron
      h1 Custom Templates Gallery
      p.lead
        | This is an open-source, community-driven gallery for custom templates in&nbsp;
        a(href="https://tagmanager.google.com" target="_blank") Google Tag Manager
        | .
      a.btn.btn-lg.btn-primary(href='#' role='button') More Details &raquo;
    .container
    .row#filterOptions
        .col-lg-6.col-md-6
          span.visible-items
            | Showing 
            strong 1-#{templates.length}&nbsp;
            | of 
            strong  
            | &nbsp; #{templates.length} results  
        .col-lg-2.col-md-6
            |  Sort By:
        .col-lg-2.col-md-6            
             | Category:
        .col-lg-2.col-md-6
             | Type:
    .row#filterOptions 
        .col-lg-6.mb-2
            header.d-flex.justify-content-between.align-items-start.float-left
                div#filtersList
                if(filters.sort!=="all")
                    button.btn.btn-brand.btn-info.btn-sm.filter-btn(type='button')
                      span Sort by: #{filters.sort}
                if(filters.categories.indexOf("all")===-1)
                    each filterCategory, index in filters.categories 
                        button.btn.btn-brand.btn-info.btn-sm.filter-btn(type='button')
                          span Category: #{filterCategory}
                if(filters.tagTypes.indexOf("all")===-1)
                    each filterTagType, index in filters.tagTypes 
                        button.btn.btn-brand.btn-info.btn-sm.filter-btn(type='button')
                          span Type: #{filterTagType}                             
        .col-lg-2.mb-2
          select.selectpicker#sortFilter(multiple='' data-max-options='1')          
                option(data-filter-sort='views', selected = (filters.sort==="views" ? true : false)) Most Viewed
                option(data-filter-sort='downloads', selected = (filters.sort==="downloads" ? true : false)) Most Downloaded
                option(data-filter-sort='newest', selected = (filters.sort==="newest" ? true : false)) Newest
                option(data-filter-sort='oldest', selected = (filters.sort==="oldest" ? true : false)) Oldest
        .col-lg-2.mb-2
          select.selectpicker#categoryFilter(multiple='' data-max-options='4')
            each category, index in categories 
                option(data-filter-category=''+index, selected = (filters.categories.indexOf(index)>-1 ? true : false)) #{category}
        .col-lg-2.mb-2
          select.selectpicker#tagTypeFilter(multiple='' data-max-options='2')
                option(data-filter-tag-type='tag', selected = (filters.tagTypes.indexOf("tag")>-1 ? true : false)) Tag
                option(data-filter-tag-type='variable',selected = (filters.tagTypes.indexOf("variable")>-1 ? true : false)) Variable                  
    .row#products-grid    
      each template, index in templates
        .col-lg-4.col-md-6.mb-4
          .card.h-100(data-eec-action="impression")&attributes({'data-product-id': template.id,'data-product-name': template.name,'data-product-category': template.category, 'data-product-variant': template.type.toLowerCase(), 'data-product-position': index, 'data-product-tracked': "false", 'data-product-list-name': "home page" })
            .card-body
              img.rounded.float-right(src=''+template.logo, alt='', width="60px")
              h4.card-title
                a(href='template/'+template.id+'/'+template.slug+'')= template.name
              span.autor Author:&nbsp;
              a(href='#')= template.author
              br
              small Added: #{template.parsed_added_date}
              p.card-text
                | #{template.description}
            .card-footer
              small.text-muted ( #{template.views} views, #{template.downloads} Downloads )
              span.float-right.badge.badge-info= template.type.slice(0, 3).toUpperCase()


