extends layout
 
block content
  main.container(role='main')
    .jumbotron
      h1 Featured Custom Template
      p.lead
        | This is the current Featured Custom Template, it's grabbed from Related Products Feed
      a.btn.btn-lg.btn-primary(href='#' role='button') More Details &raquo;
    .container    
    .row      
      each template in templates
          .col-lg-4.col-md-6.mb-4
            .card.h-100(data-ga-action="impression")&attributes({'data-product-id': template.id,'data-product-name': template.name,'data-product-category': template.category})
              a(href='#')
                img.card-img-top(src='http://placehold.it/700x400' alt='')
              .card-body
                h4.card-title
                  a(href='template/'+template.id+'/'+template.slug+'')= template.name
                span.autor Author: 
                a(href='#')= template.author 
                br
                small Added:#{template.added_date}
                p.card-text
                  | #{template.description}
              .card-footer
                small.text-muted &starf; &starf; &starf; &starf; &star; ( #{template.views} views, #{template.downloads} Downloads ) 