doctype html
html
  head
    script.
        window.dataLayer = window.dataLayer || [];
        window.dataLayer.push(!{JSON.stringify(dataLayer)});
        // Google Tag Manager
    script.
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-W7DQKDQ');
    // End Google Tag Manager        
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet',type="text/css" , href='/css/bootstrap.min.css')
  body
    include header.pug
    block content
    include footer.pug
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
