extends layout


block content
   // Needs Refactor, not sure where should I keep this, maybe using some i18 library ?
   - var permissions_translation = {access_globals: "Accesses Global Variables",inject_script: "Injects Scripts",logging: "Logs to Console",set_cookies: "Sets a cookie value"};

   script(src='https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?autoload=true&skin=sunburst&lang=css', defer='')
   main.container(role='main')
    .container
    // Modal
    #exampleModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            h5#exampleModalLabel.modal-title Modal title
            button.close(type='button' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          .modal-body
            | ...
          .modal-footer
            button.btn.btn-secondary(type='button' data-dismiss='modal') Close
            button.btn.btn-primary(type='button') Save changes
    .row
      .col-lg-3
        h1.my-4
        .list-group
          a.list-group-item(href='#') Analytics
          a.list-group-item(href='#') A/B Test
          a.list-group-item(href='#') Pixels
      // /.col-lg-3
      .col-lg-9
        .card.mt-4

          .card-body
            .media
              .media-body
                h3.mt-0.mb-1 #{template.name} &starf; &starf; &starf; &starf; &star;
                h6 Author: #{template.author}
                h6 Views: #{template.views}
                h6 Downloads: #{template.downloads}
              img.ml-3(src=template.logo, alt=template.name+' Logo',width= '100px')
            #carouselExampleIndicators.carousel.slide(data-ride='carousel')
              ol.carousel-indicators
                li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
                li(data-target='#carouselExampleIndicators', data-slide-to='1')
                li(data-target='#carouselExampleIndicators', data-slide-to='2')
              .carousel-inner
                .carousel-item.active
                  img.d-block.w-100(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16b0e49b7e5%20text%20%7B%20fill%3A%23555%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16b0e49b7e5%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22285.921875%22%20y%3D%22217.7%22%3EFirst%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E', alt='First slide')
                .carousel-item
                  img.d-block.w-100(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16b0e49b7e5%20text%20%7B%20fill%3A%23555%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16b0e49b7e5%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22285.921875%22%20y%3D%22217.7%22%3EFirst%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E', alt='Second slide')
                .carousel-item
                  img.d-block.w-100(src='data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22800%22%20height%3D%22400%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20800%20400%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16b0e49b7e5%20text%20%7B%20fill%3A%23555%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A40pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16b0e49b7e5%22%3E%3Crect%20width%3D%22800%22%20height%3D%22400%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22285.921875%22%20y%3D%22217.7%22%3EFirst%20slide%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E', alt='Third slide')
              a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.sr-only Previous
              a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.sr-only Next
            hr
            ul#myTab.nav.nav-tabs(role='tablist')
              li.nav-item
                a#details-tab.nav-link.active(data-toggle='tab' href='#details' role='tab' aria-controls='details' aria-selected='true') Details
              li.nav-item
                a#permissions-tab.nav-link(data-toggle='tab' href='#permissions' role='tab' aria-controls='permissions' aria-selected='false') Permissions
              li.nav-item
                a#reviews-tab.nav-link(data-toggle='tab' href='#reviews' role='tab' aria-controls='reviews' aria-selected='false') Reviews
                    span.badge.badge-warning 5
              li.nav-item
                a#changelog-tab.nav-link(data-toggle='tab' href='#changelog' role='tab' aria-controls='changelog' aria-selected='false') Changelog
            #myTabContent.tab-content
              #details.tab-pane.fade.show.active(role='tabpanel' aria-labelledby='details-tab')
                p.card-text
                    p Here is goes the tag desciption
                    table.table
                      tbody
                        tr
                          td Name
                          td #{template.name}
                        tr
                          td Category
                          td #{template.category}
                        tr
                          td Description
                          td #{template.description}
                        tr
                          td Template Type
                          td #{template.type}
                        tr
                          td Date Added
                          td #{template.added_date}
                        tr
                          td Date Updated
                          td #{template.updated_date}
                        tr
                          td Template Contexts
                          td #{template.contexts}
                        tr
                          td.text-center
                            button.btn.btn-primary(id="install-template" type='button' data-toggle='modal' data-target='#exampleModal')&attributes({'data-product-id': template.id,'data-product-name': template.name,'data-product-category': template.category})
                                | Auto-Install

                          td.text-center
                            a.btn.btn-primary.btn.btn-warning(id="download-template" href='#' role='button')&attributes({'data-product-id': template.id,'data-product-name': template.name,'data-product-category': template.category}) Download
                      br
              #permissions.tab-pane.fade(role='tabpanel' aria-labelledby='permissions-tab')
                p.card-text
                #accordion
                each permission, index in template.permissions
                  .card
                    .card-header(id='heading-' + index)
                      h5.mb-0
                        button.btn.btn-link(data-toggle='collapse', data-target='#collapse-'+ index, aria-expanded='true', aria-controls='collapse-'+index)
                         | #{permissions_translation[permission.instance.key.publicId]}
                    .collapse(aria-labelledby='heading-'+index, data-parent='#accordion' id='collapse-'+index)
                      .card-body
                        pre.prettyprint #{JSON.stringify(permission.instance.param)}
              #reviews.tab-pane.fade(role='tabpanel' aria-labelledby='reviews-tab')
                p.card-text
                      | REVIEWS TAB
                      br
              #changelog.tab-pane.fade(role='tabpanel' aria-labelledby='changelog-tab')
                p.card-text
                      | CHANGELOG TAB
                      br
